#define host "rtk2go.com"             //ntrip caster host address (omit 'http//www.')
#define httpPort 2101                 //port 2101 is default port of NTRIP caster
#define mountPoint "MountPointNameHere"   //must change this string
#define password "PasswordHere"          //enter password of ntrip caster mountpoint (if applicable)
#define sourceString ""              //source table infomation string reference software.rtcm-ntrip.org/wiki : NTRIP sourcetable contents (https://software.rtcm-ntrip.org/wiki/Sourcetable)
// ^ just leave sourceString blank if you arent sure :)
